body {
  background: rgb(99, 5, 147);
  background: -moz-linear-gradient(
    330deg,
    rgba(99, 5, 147, 1) 0%,
    rgba(36, 36, 97, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    330deg,
    rgba(99, 5, 147, 1) 0%,
    rgba(36, 36, 97, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    330deg,
    rgba(99, 5, 147, 1) 0%,
    rgba(36, 36, 97, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#630593",endColorstr="#00d4ff",GradientType=1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#cartBtn {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 32px;
}
#cartBtn span {
  top: 7px;
  right: 17px;
  font-size: 14px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-text,
.card-title {
  color: white;
  text-shadow: 0 0 4px #000000;
}

#shoeDetails .modal-content {
  /* From https://css.glass */
  background: rgba(96, 111, 168, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(96, 111, 168, 0.09);

  color: white;
}

#shoeDetails .modal-body .image {
  /* From https://css.glass */
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#shoeDetails .modal-body img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#cart .modal-content {
  background-color: black;
  color: white;
}

#cart table {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
